@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body,
button,
input,
select,
textarea {
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#content {
    flex: 1;
}

.logo-img {
    max-height: 30px;
    width: auto;
}

.nav-link {
    color: #459096;
    padding: 0.5rem 1rem;
    transition: background-color 0.7s, color 0.7s;
    border-radius: 0.25rem;
    display: inline-block;
}

.nav-link:hover {
    background-color: #000000;
    color: white;
}

.btn-apply:focus {
    outline: none;
}

.back-to-data-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 0.75rem 1.5rem;
    transition: all 0.2s;
    margin-right: auto;
}

.back-to-data-btn:hover {
    background-color: #E2E8F0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}


.navigate-button {
    background-color: #38b2ac;
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
    color: white;
    font-weight: 600;
    margin-left: auto;
    cursor: pointer;
}

.navigate-button:hover {
    background-color: #319795;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.footer {
    margin-top: auto;
    width: 100%;
}

.footer-link {
    color: #e5e7eb;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.footer-link:hover {
    background-color: #3b4252;
    color: #ffffff;
}