@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body, button, input, select, textarea {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

#content {
  flex: 1;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #d9f7e6;
  font-weight: 500;
  z-index: 1000;
}

.logo-img {
  max-height: 30px;
  width: auto;
}

.nav-link {
  color: #459096;
  padding: 0.5rem 1rem;
  transition: background-color 0.7s, color 0.7s;
  border-radius: 0.25rem;
  display: inline-block;
}

.nav-link:hover {
  background-color: #000000;
  color: white;
}

.data-content {
  text-align: center;
  max-width: 1200px;
  margin: 3rem auto;
  padding: 0 2rem;
}

.data-title {
  font-size: 4rem;
  color: #102a43;
  margin-bottom: 0.5rem;
  margin-top: 6.5rem;
  font-family: 'Pacifico', cursive;
  font-weight: 600;
}

.data-description {
  font-size: 1.5rem;
  color: #334e68;
  margin-bottom: 3rem;
}

.horizontal-line {
  border: none;
  height: 5px;
  background-image: radial-gradient(#00ffbf,#d9f7e6, transparent)
}

.modes-container h3 {
  font-size: 32px;
  font-weight: 700;
  color:#102a43;
  text-align: center;
  margin-bottom: 30px;
}

.modes-container {
  max-width: 1280px;
  margin: 40px auto;
  padding: 0 10px;
}

.data-modes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.mode-title {
  font-size: 24px;
  font-weight: 700;
  color:#102a43;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
}

.mode-button h3{
  margin: 10px ;
}

.mode-button {
  padding: 10px;
  margin: 10px;
  max-width: 400px;
  background-color: #eafbf1;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.mode-button:hover{
  transform: (1.1);
}

.mode-button h2 {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin: 0;
  color:#334e68;
}

.mode-button h3{
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color:#102a43;
}

.mode-button p{
  font-size: 16px;
  text-align: center;
  color: #334e68;
}

@media (max-width: 1300px) {

  .mode-button{
    width: 300px;
    height: auto;
  }
}

@media (max-width: 1000px) {

  .mode-button{
    width: 220px;
    height: auto;
  }
}


@media (max-width: 780px) {
  .modes-container {
    flex-direction: column;
  }

  .mode-button{
    width: 100%;
    margin-bottom: 20px;
  }
}

.footer {
  color: #e5e7eb;
  font-size: 0.875rem;
}

.footer-link {
  color: #e5e7eb;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.footer-link:hover {
  background-color: #3b4252;
  color: #ffffff;
}