@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body,
button,
input,
select,
textarea {
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    width: 100%;
    position: fixed;
    background-color: #d9f7e6;
    font-weight: 500;
}

.logo-img {
    max-height: 30px;
    width: auto;
}

.nav-link {
    color: #459096;
    padding: 0.5rem 1rem;
    transition: background-color 0.7s, color 0.7s;
    border-radius: 0.25rem;
    display: inline-block;
}

.nav-link:hover {
    background-color: #000000;
    color: white;
}

.mission-img {
    padding-top: 70px;
}

.heading {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 30px auto;
}

.heading h2 {
    font-family: 'Pacifico', cursive;
    font-size: 38px;
    font-weight: 600;
    color: #102a43;
    margin-bottom: 10px;
}

.heading h2::after {
    content: "";
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    border-radius: 50px;
    background-color: #102a43;
}

.container {
    box-sizing: border-box;
    max-width: 1280px;
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.container p {
    color: #515151;
    font-weight: 600;
}

.container ul li {
    color: #515151;
    font-weight: 600;
}

.goal {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.goal-content {
    text-align: justify;
    text-align: center;
}

.persona {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap
}

.persona-img {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.persona-img img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.2s;
}

.persona-img img:hover {
    transform:scale(1.1);
}

.persona-content {
    flex: 1;
}

.persona-content h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.persona-content ul {
    list-style: circle;
}

.horizontal-line {
    border: none;
    height: 5px;
    background-image: radial-gradient(#00ffbf, #d9f7e6, transparent)
}

.members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.gallery img {
    border-radius: 10px;
    width: 200px;
    height: auto;
    transition: 0.2s;
}

.gallery img:hover {
    transform: scale(1.05);
}

.desc {
    margin: 10px 0;
    text-align: center;
}

@media only screen and (max-width: 780px) {
    .persona {
        flex-direction: column;
    }

    .persona-img {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .members {
        padding: 0 40px;
        flex-direction: column;
    }

    .gallery {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .gallery img {
        width: 180px;
        height: auto;
        margin-bottom: 20px;
    }

    .desc {
        margin: 10px;
        text-align: right;
    }
}

@media only screen and (max-width: 500px) {
    .gallery {
        flex-direction: column;
        justify-content: space-between;
    }

    .gallery img {
        width: 180px;
        height: auto;
        margin-bottom: 0;
    }

    .desc {
        margin: 10px 0;
        text-align: center;
    }
}

.footer {
    color: #e5e7eb;
    font-size: 0.875rem;
}

.footer-link {
    color: #e5e7eb;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.footer-link:hover {
    background-color: #3b4252;
    color: #ffffff;
}